<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <title>درگاه پرداخت</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">
                <div class="panel-heading display-table" >
                    <div class="row display-tr" >
                        <div class="display-td" >                            
                            <img class="img-responsive" face" height="50" width="100" src="http://www.bankina.ir/wp-content/uploads/2018/04/50083.jpg">
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">
                    <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">مبلغ (ریال)</label>
                                    <div class="form-group">
                                        <input 
                                            type="tel"
                                            class="form-control"
                                            name="cardNumber"
                                            placeholder=""
                                            autocomplete="cc-number"
                                            required autofocus 
                                        />
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">شماره کارت</label>
                                    <div class="form-group">
                                        <input 
                                            type="tel"
                                            class="form-control"
                                            name="cardNumber"
                                            placeholder="0000 0000 0000 0000"
                                            autocomplete="cc-number"
                                            required autofocus 
                                        />
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                         	<div class="col-xs-6 col-md-6 pull-right">
                                <div class="form-group">
                                    <input 
                                        type="tel" 
                                        class="form-control" 
                                        name="cardExpiry"
                                        placeholder="ماه"
                                        autocomplete="cc-exp"
                                        required 
                                    />
                                </div>
                            </div>
                          	<div class="col-xs-6 col-md-6">
                                <div class="form-group">
                                    <input 
                                        type="tel" 
                                        class="form-control" 
                                        name="cardExpiry"
                                        placeholder="سال"
                                        autocomplete="cc-exp"
                                        required 
                                    />
                                </div>
                            </div>
						</div>
                        <div class="row">
                        	<div class="col-xs-5 col-md-5 pull-right">
                        		<div class="form-group">
                                	<input 
                                        type="tel" 
                                        class="form-control"
                                        name="cardCVC"
                                        placeholder="CVV2"
                                        autocomplete="cc-csc"
                                        required
                                   	/>
                         		</div>
                            </div>
                         	<div class="col-xs-7 col-md-7">
                        		<div class="form-group">
                                	<input type="password" class="form-control" name="couponCode" placeholder="رمز دوم" />
                          		</div>                        
                    		</div>
                        </div>
            <!-- Captcha start -->
                 <div class="row" style="margin-bottom:10px;">
                  <div class="col-sm-5 col-xs-5">
                  <img src="http://imrannazar.com/content/img/audio-captcha-pqjryd.gif" id="captcha_image" face" width="100" height="42"/>
                  <br/> <a id="captcha_reload" href="#">reload</a>
                  </div>
                  <div class="col-sm-6 col-xs-6">
                  <label for="email">کد تصویر</label>
                  <input type="text" class="form-control" required id="captcha" name="captcha" >
                  </div>
				</div>
            <!-- Captcha end -->
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="subscribe btn btn-success btn-lg btn-block" type="button">پرداخت</button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>            
            <!-- CREDIT CARD FORM ENDS HERE -->
        </div>            
     </div>
</div>
